.Hero {
  color: #fff;
  min-height: 50vh;
  padding: 10vh 20px;
  background-color: #24265b;
  background: url('../../../assets/images/background.jpeg') top center no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Hero .Title {
  color: #ed345a;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 700;
}

.Hero .Subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: normal;
}

/* Desktop */
@media (min-width: 500px) {
  .Hero {
    padding: 10vh 100px;
  }
}