.SavioStepper {
  background: #fff;
  padding: 30px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsl(200, 12%, 90%);
}

.Wrapper {
  width: 100%;
  max-width: 650px;
  position: relative;
}

.Progress {
  height: 2px;
  margin-top: 11px;
  margin-bottom: 11px;
  background-color: hsl(200, 12%, 90%);
  border-radius: 1px;
  width: 80%;
  position: absolute;
  left: 10%;
}

.Progress .Filler {
  float: left;
  height: 100%;
  background-color: #ed345a;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transition: width .6s ease-in-out;
  will-change: width;
}

.Progress .Ending {
  float: left;
  height: 100%;
  background: linear-gradient(90deg, #ed345a, #24265b);
  transition: width .6s ease-in-out;
}

.Progress .Ending::after {
  float: right;
  width: 8px;
  height: 8px;
  margin-top: -3px;
  margin-right: -4px;
  content: "";
  background-color: #24265b;
  border-radius: 4px;
}

.Steps {
  display: none;
}

@media screen and (min-width: 500px) {
  .Steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    max-width: 650px;
  }

  .Steps li {
    list-style-type: none;
    width: 120px;
    text-align: center;
  }

  .Actual {
    font-weight: bold;
  }
}