.SavioFlow {
  background-color: #fff;
  padding: 10vh 20px;
  padding-top: 5vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SavioFlow h2 {
  margin-bottom: 20px;
}

.Content {
  width: 100%;
  max-width: 650px;
}

.FormWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  transition: all 0.3s ease-out;
}

.AccountsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Currency {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .SavioFlow {
    padding: 10vh 100px;
  }
}