.NotificationItem {
  min-height: 50px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.NotificationItem a {
  color: #888;
  display: block
}

.NotificationItem:hover {
  background-color: #eee;
}

.NotificationItem .Icon{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  vertical-align: top;
  width: 15%;
  min-height: 50px;
}

.NotificationItem .Content{
  display: inline-block;
  width: 85%;
}

.Time {
  margin-top: 10px;
  color: #888;
  font-size: .8rem;
}