.Dashboard {
  padding: 5vh;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.Menu {
  display: inline-block;
  /* width: 20vw; */
  margin: 5px;
  flex-grow: 1;
}

.Content {
  display: inline-block;
  /* width: 60vw; */
  margin: 5px;
  flex-grow: 3;
}