.Orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.Currency {
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .Orders {
    padding: 10vh 100px;
  }
}