.VerifyEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

@media screen and (min-width: 500px) {
  .VerifyEmail {
    padding: 10vh 100px;
  }
}