.Notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.Wrapper {
  width: 90%;
  margin: 20px 0;
  max-width: 500px;
}

@media screen and (min-width: 500px) {
  .Notifications {
    padding: 10vh 100px;
  }
}