.ShortDescription {
  color: #fff;
  min-height: 15vh;
  padding: 10vh 20px;
  background-color: #ed345a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShortDescription p {
  font-size: 2rem;
  font-weight: 300;
}

/* Desktop */
@media (min-width: 500px) {
  .ShortDescription {
    padding: 10vh 100px;
  }
}