.Toolbar {
  height: 56px;
  /* height: 10vh; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #24265b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #fff;
}

.DesktopOnly {
  height: 100%;
}

.MobileOnly {
  display: none;
}

.MobileOnly a {
  color: #fff;
}

/* Mobile */
@media (max-width: 499px) {
  .Toolbar {
    padding: 0 20px;
  }

  .Logo {
    display: flex;
    align-items: center;
  }

  .MobileOnly {
    display: block;
    margin-left: 20px;
  }

  .DesktopOnly {
    display: none;
  }
}