.Profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10vh 20px;
  background-color: #fff;
}

.Profile h4 {
  color: hsl(0, 0%, 65%);
}

.Profile h4 + p {
  margin-bottom: 15px;
  font-size: .9rem;
}

@media screen and (min-width: 500px) {
  .Profile {
    padding: 10vh 100px;    
  }
}