.Agencys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

/* Desktop */
@media (min-width: 500px) {
  .Agencys {
    padding: 10vh 100px;
  }
}