.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  left: 5%;
  top: 12.5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  max-height: 75vh;
  overflow: hidden;
}

.Modal .Header {
  min-height: 20%;
  padding: 25px;
  background: #ccc;
  color: #888;
}

.Modal .Content {
  padding: 25px;
  max-height: 55vh;
  overflow: auto;
}

.Modal .Content.Centered, .Modal .Content.Centered form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Modal p {
  font-size: 1rem;
  color: #7f7f7f;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}