/* Mobile */
.Orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.ImagesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Images {
  width: 35%;
  margin: 10px 15px;
}

.Currency {
  font-weight: 500;
  text-transform: uppercase;
}

.SmallMessage {
  font-size: .7rem;
  margin: 10px 0 !important;
}

/* Desktop */
@media (min-width: 500px) {
  .Orders {
    padding: 10vh 100px;
  }

  .Images {
    height: 100px;
  }
}