.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.Login form {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RegisterLink a {
  margin-left: 10px;
  color: #09f;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .Login {
    padding: 10vh 100px;
  }
}