.ProfileSection {
  width: 100%;
  margin: 20px 0;
}

.ProfileSection .Title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 5px;
}

.ProfileSection .Title .Icon a {
  color: #ccc;
  cursor: pointer;
}

.ProfileSection .Title .Icon a:hover {
  color: #888;
}

.ProfileSection > .Content {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}