.Logo {
  height: 2rem;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
}

.Logo a {
  color: #fff;
  text-decoration: none;
}

.Logo.Inverted a {
  color: #24265b;
}

.Logo img {
  height: 100%;
}

.Logo h1 {
  /* display: inline-block; */
  letter-spacing: 4px;
}