.Accounts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.Accounts form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Desktop */
@media screen and (min-width: 500px) {
  .Accounts {
    padding: 10vh 100px;
  }
  
  .Accounts form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}