/* Mobile */
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-weight: 400;  
}

.NavigationItem a {
  color: #24265b;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #ed345a;
}

.NavigationItem a > svg {
  margin-right: 5px;
}

/* .LinkText {
  display: none;
} */

/* Desktop */
/* @media screen and (min-width: 980px) {
  .LinkText {
    display: inline-block;
  }
} */

@media screen and (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    width: auto;
    align-items: center;
  }
  
  .NavigationItem a {
    margin: 0 5px;
    color: white;
    height: 100%;
    padding: 18px 10px;
  }
}