.Button {
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 11px 30px;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: 500;
}

.Button:disabled, .Button.Disabled {
  background-color: #ccc;
  color: #7f7f7f;
  cursor: not-allowed;
}

.Success {
  color: #fff;
  background-color: hsl(348, 84%, 57%);
}

.Success:hover:not(:disabled):not(.Disabled) {
  background-color: hsl(348, 64%, 46%);
}

.Info {
  color: #fff;
  background-color: hsl(237, 35%, 32%);
}

.Info:hover:not(:disabled):not(.Disabled) {
  background-color: hsl(237, 35%, 26%);
}

.Plain {
  background: transparent;
  border-radius: 0;
  box-shadow: unset;
  color: hsl(204, 100%, 50%);
}

.Plain:hover {
  color: hsl(204, 100%, 40%);
}

.Unformatted {
  cursor: pointer;
  font-weight: normal;
}