.starsContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.starsContainer span {
  font-size: 1rem;
  margin-left: 10px;
}

.starsOuter {
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.starsInner {
  top: -1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #f8ce0b;
}