.CardButton {
  width: 100%;
  background-color: transparent;
  border: none;
  /* border-radius: 0 0 10px 10px; */
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 5px 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-weight: 500;
}

.CardButton.Multi {
  width: 50% !important;
}