.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
  color: #fff;
}

.Signup p {
  margin: 10px 0;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 650px;
}

.StepperBullet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.RegisterLink a {
  /* margin-left: 10px; */
  color: #09f;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

/* Desktop */
@media screen and (min-width: 500px) {
  .Signup {
    padding: 10vh 100px;
  }
}