.Tag {
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 500;
  display: inline-block;
}

.Info {
  background-color: blue;
}

.Success {
  background-color: green;
}

.Alert {
  background-color: orange;
}

.Warning {
  background-color: red;
}
