.SmallCard {
  width: 80%;
  padding: 20px 15px;
  text-align: center;
  display: block;
  margin: 25px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Icon {
  font-size: 50px;
  margin-bottom: 25px;
}

.Icon *:hover {
  color: #ed345a;
}

.Info h3 {
  margin-bottom: 10px;
}

.Info h3::first-letter {
  color: #ed345a;
}

.Info p {
  color: #888;
}

/* Desktop */
@media (min-width: 780px) {
  .SmallCard {
    width: 20%;
  }
}

@media (min-width: 500px) {
  .SmallCard {
    margin: 25px 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .SmallCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}