.Steps {
  display: inline-block;
  position: absolute;
  font-size: .6rem;
  bottom: 5px;
  color: #fff;
}

.Steps.Inverse {
  color: #24265B;
}

.Steps > * {
  margin: 5px;
}

.StepsInner {
  top: 0;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  /* width: 0; */
  margin: 0;
  opacity: 50%;
}

.StepsInner > * {
  margin: 5px;
}