.Badge {
  color: #818181;
  border: none;
  border-radius: 20px;
  background-color: #ccc;
  padding: 5px 15px;
  margin: 10px;
  display: flex;
  text-transform: uppercase;
}

.Close {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}
