.Input { 
  position: relative;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@media screen and (min-width: 720px) {
  .Third {
    width: 32%;
  }
  
  .Half {
    width: 48%;
  }
  
  .ThreeThird {
    width: 65%;
  }
}

.InputElement {
  background: transparent;
}

.InputElement, .Select {
  font-size: .8rem;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

.Select {
  height: 37px;
  border: none;
}

.InputElement:focus { outline: none; border-bottom: 1px solid transparent; }

/* LABEL ======================================= */
.Label {
  color: #999; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.arrow ~ .Label, .InputElement[type=date] ~ .Label, .RadioLabel ~ .Label {
  top: -20px;
  font-size: 14px;
  color: #999;
}

/* active state */
.InputElement:not([type=radio]):not([type=checkbox]):not([type=date]):focus ~ .Label, .InputElement:not([type=radio]):not([type=checkbox]):not([type=date]):valid ~ .Label {
  top: -20px;
  font-size: 14px;
  color: #ed345a;
}

/* BOTTOM BARS ================================= */
.Bar { position: relative; display: block; width: 100%; }
.Bar:before, .Bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #ed345a; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.Bar:before {
  left: 50%;
}

.Bar:after {
  right: 50%; 
}

/* active state */
.InputElement:not([type=radio]):not([type=checkbox]):focus ~ .Bar:before, .InputElement:not([type=radio]):not([type=checkbox]):focus ~ .Bar:after {
  width: 50%;
}

.InputElement[type=radio] {
  display: none;
}

.RadioLabel {
  display: inline-block;
  padding: 15px 0;
  margin: 5px;
}

.RadioLabel .InputElement[type=radio] + span {
  background: #e6607f;
  color: #ccc;
  padding: 11px 25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.RadioLabel .InputElement[type=radio]:checked + span {
  background: #ed345a;
  color: #fff;
}