.Notifications {
  width: 450px;
  height: 350px;
  z-index: 100;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #24265b;
  top: 50px;
  position: absolute;
  font-size: 0.8rem;
}

.Notifications .Header {
  padding: 5px;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
}