.Dialog {
  width: 90%;
}

.Dialog form {
  width: 100%;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .Dialog {
    width: 450px;
  }
}