/* Mobile */
.Footer {
  color: #fff;
  min-height: 300px;
  padding: 10vh 20px;
  background-color: #ed345a;
  background: linear-gradient(180deg, #ed345a, #24265b);
  display: flex;
  align-items: center;
  justify-content: colum;
  flex-direction: column;
}

.Icon {
  text-decoration: none;
  color: inherit;
  font-size: 2.3rem;
  margin: 10px;
}

.Icon:hover {
  color: #4f5597;
}

.Icon.Contact {
  font-size: 1rem;
  display: block
}

.Icon.Contact span {
  margin-left: 5px;
}

.Bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

@media (min-width: 780px) {
  .Footer {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Desktop */
@media (min-width: 500px) {
  .Footer {
    padding: 10vh 100px;
  }
}