.ForgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
  color: #fff;
}

/* Desktop */
@media screen and (min-width: 500px) {
  .ForgotPassword {
    padding: 10vh 100px;
  }
}