.Header {
  background-color: #4f5597;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Header p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin: 0 5vw;
}

@media (min-width: 500px) {
  .Header p {
    margin: 0 100px;
  }
}