.Rates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 20px;
}

.RatesContainer {
  display: flex;
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  .Rates {
    padding: 10vh 100px;
  }
}