.Panel {
  width: 90%;
  max-width: 650px;
  margin: 10px;
  color: #9e9e9e;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  position: relative;
}

.Panel p {
  font-size: .9rem;
}

.PanelContent {
  padding: 25px;
}

.PanelContent.Centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* @media screen and (min-width: 500px) {
  .Panel {
    width: 500px;
  }
} */
