/* Mobile */
.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.NavigationItems .SubmenuWrapper {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-weight: 400;  
  color: #24265b;
}

.Submenu {
  position: relative;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.NotificationMenu {
  display: none;
}

/* Desktop */
@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
    align-items: baseline;
  }

  .ArrowUp {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    margin: 0 10px;
  }

  .NavigationItems .SubmenuWrapper {
    width: auto;
    align-items: center;
    color: #fff;
    margin: 0;
    cursor: pointer;
  }

  .NavigationItems .SubmenuWrapper:hover {
    color: #ed345a;
  }

  .Submenu {
    z-index: 100;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #24265b;
    padding: 5px;
    top: 50px;
    position: absolute;
  }
  
  .Submenu li a {
    color: #24265b;
    margin: 0;
    padding: 10px;
  }

  .NotificationMenu {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    cursor: pointer;
  }
}