.DialogContent {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #4f5597;
  min-height: 200px;
  width: 100%;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.DialogContent .Inputs {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
}