.Card {
  width: 90%;
  max-width: 650px;
  border: 0;
  border-radius: 11px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 15px 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #818181;
}

.Card img {
  width: 100%;
}

@media (min-width: 500px) {
  .Card {
    margin: 15px 0;
  }
}

.Header {
  background-color: #ccc;
  margin: 0;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px 10px 0 0;
  font-weight: 500;
}

.Content {
  padding: 10px;
}

.Footer {
  border-top: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  background-color: #fff; 
}

.Content p {
  margin: 0;
  padding: 0;
}

.processing {
  background: #B3FFAB;
  background: -webkit-linear-gradient(to left, #12FFF7, #B3FFAB);
  background: linear-gradient(to left, #12FFF7, #B3FFAB);
  color: #000;
}

.completed {
  background-color: greenyellow;
  color: #000;
}

.cancelled {
  background-color: red;
  color: #fff;
}

.bcp {
  background: #0F4193;
  background: -webkit-linear-gradient(90deg, #0F4193, #EB674B);
  background: linear-gradient(90deg, #0F4193, #EB674B);
  color: #fff;
}

.bbva {
  background: #006EC1;
  background: -webkit-linear-gradient(90deg, #006EC1, #B5E5F9);
  background: linear-gradient(90deg, #006EC1, #B5E5F9);
  color: #fff;
}

.financiero {
  background: #FBE14F;
  background: -webkit-linear-gradient(90deg, #FBE14F, #1F5CAB);
  background: linear-gradient(90deg, #FBE14F, #1F5CAB);
  color: #fff;
}

.interbank {
  background: #53AB4C;
  background: -webkit-linear-gradient(90deg, #53AB4C, #2F4A9F);
  background: linear-gradient(90deg, #53AB4C, #2F4A9F);
  color: #fff;
}

.scotiabank {
  background: #DC3B33;
  background: -webkit-linear-gradient(90deg, #DC3B33, #FFF);
  background: linear-gradient(90deg, #DC3B33, #FFF);
  color: #fff;
}