@font-face {
  font-family: 'League Spartan';
  src: url('./assets/fonts/leaguespartan-bold.eot');
  src: url('./assets/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/leaguespartan-bold.woff2') format('woff2'),
       url('./assets/fonts/leaguespartan-bold.woff') format('woff'),
       url('./assets/fonts/leaguespartan-bold.ttf') format('truetype'),
       url('./assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
}

/* *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
} */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #24265b;
  overflow-x: hidden;
}

body.modalOpen {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'League Spartan', sans-serif;
}

h1::first-letter {
  color: #ed345a;
}

/* Desktop */
@media (min-width: 500px) {
  h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

strong {
  font-weight: 500;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
}