.MarketInfo {
  color: #24265b;
  min-height: 50vh;
  padding: 10vh 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MarketInfo div {
  width: 100%;
}

.Chart {
  height: 300px;
}

/* Desktop */
@media (min-width: 1000px) {
  .MarketInfo {
    justify-content: space-between;
    flex-direction: row;
  }

  .MarketInfo div {
    width: 45%;
  }
}

@media (min-width: 500px) {
  .MarketInfo {
    padding: 10vh 100px;
  }
}