.Features {
  color: #24265b;
  min-height: 75vh;
  padding: 10vh 20px;
  background-color: #fff;
}


.Features h2 span {
  font: inherit;
  color: #ed345a;
}

.Wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Desktop */
@media (min-width: 500px) {
  .Features {
    padding: 10vh 100px;
  }
}